name: Metrics
on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    if: "github.repository == 'danglingptr0x0/danglingptr0x0'"
    steps:

      # ======================================================================================
      # TEMPLATES
      # ======================================================================================

      # Classic template example
      - name: Classic template
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.classic.svg
          token: ${{ secrets.GH_TOKEN }}
          base: header, repositories, activity
          base_indepth: yes
          plugin_lines: yes
          plugins_errors_fatal: no
          output_action: commit


      # Terminal template example
      - name: Terminal template
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          template: terminal
          filename: metrics.terminal.svg
          token: ${{ secrets.GH_TOKEN }}
          base: header, metadata
          plugins_errors_fatal: no
          plugin_activity: yes
          plugin_activity_limit: 365
          plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
          plugin_topics: yes
          plugin_topics_limit: 24
          plugin_isocalendar: yes
          plugin_languages: yes
          output_action: commit


      # ======================================================================================
      # PLUGINS
      # ======================================================================================

      # ======================================================================================
      # Achievements

      # Achievements
      - name: Achievements
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.achievements.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_only: ""
          plugin_achievements_limit: 20
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Recent activity

      # Display recent activity
      - name: Activity plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.activity.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_activity: yes
          plugin_activity_limit: 7
          plugin_activity_days: 0
          plugin_activity_filter: issue, pr, release, fork, review, ref/create
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Anilist

      # Anilist plugin with all sections
      - name: Anilist plugin (complete)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.anilist.full.svg
          token: NOT_NEEDED
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites, watching, characters
          plugin_anilist_limit: 3
          plugin_anilist_user: fluffy1011
          plugin_anilist_shuffle: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Follow-up of issues and pull requests

      # Display ratio of open/closed/merged issues and pull requests on repositories
      - name: Follow-up plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.followup.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_followup: yes
          plugin_followup_indepth: yes
          plugins_errors_fatal: no
          output_action: commit

          
      # Display ratio of open/closed/merged issues and pull requests created by user
      - name: Follow-up plugin (user)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.followup.user.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_followup: yes
          plugin_followup_sections: user
          plugin_followup_indepth: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Gists

      # Display gists metrics
      - name: Gists plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.gists.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_gists: yes
          plugins_errors_fatal: no
          output_action: commit

          

      # ======================================================================================
      # Coding habits

      # Display coding habits and recent activity (setup timezone for accurate metrics)
      - name: Habits plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.habits.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugins_errors_fatal: no
          config_timezone: Europe/Paris
          output_action: commit


      # ======================================================================================
      # Introduction

      # Display introduction (user)
      - name: Introduction plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.introduction.svg
          token: ${{ secrets.GH_TOKEN }}
          user: danglingptr0x0
          base: header
          plugin_introduction: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Isometric commit calendar

      # Display isometric calendar (365 days)
      - name: Isocalendar plugin (full year)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Most used languages

      # Display most used languages (with some unwanted languages ignored, with details)
      - name: Languages plugin (detailed)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.languages.details.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, gnuplot, alloy
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 7
          plugin_languages_indepth: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Lines of code changed

      # Display number of line changed (this is part of base content "repositories" section, so you need to enable it)
      - name: Lines plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.lines.svg
          token: ${{ secrets.GH_TOKEN }}
          base: repositories
          plugin_lines: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Music plugin

      # Display random tracks from given embed playlist
      # Note that :
      # - "plugin_music_mode" and "plugin_music_provider" are both optional as they're deduced from "plugin_music_playlist"
      # - "plugin_music_token" is not needed since it uses pupeeter to retrieve tracks

      # Display recently played music
      # Note that in this mode "plugin_music_mode", "plugin_music_provider" and "plugin_music_token" are all required
      - name: Music plugin (recent)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.music.recent.svg
          token: NOT_NEEDED
          plugin_music: yes
          plugin_music_provider: lastfm
          plugin_music_mode: top, recent
          plugin_music_token: ${{ secrets.LASTFM_KEY }}
          plugin_music_limit: 25
          plugin_music_played_at: yes
          plugin_music_top_type: artists
          plugin_music_time_range: long
          plugin_music_user: simtoon1011
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Notable contributions

      # Display badges of organizations with at least one commit from user
      - name: Notable contributions
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.notable.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_notable: yes
          plugin_notable_repositories: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # People plugin

      # Display followers and followed users
      - name: People plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.people.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_people: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Projects

      # Display active projects
      # Note that :
      # - A "public_repo" scope is required
      # - It uses user projects by default (those which are on your profile)
      # - You can use repositories projects by providing a list of comma-separated endpoints
      # - You can set "plugin_projects_limit" to 0 to display only "plugin_projects_repositories"
      # - You'll need to enable "Track project progress" in your projects to display a progress bar
      - name: Projects plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.projects.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_projects: yes
          plugin_projects_descriptions: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Comment reactions plugin

      # Display comment reactions statistics
      - name: Reactions plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.reactions.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_reactions: yes
          plugin_reactions_limit: 100
          plugin_reactions_details: percentage
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Recently starred repositories

      # Display latest starred repositories
      - name: Stars plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.stars.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_stars: yes
          plugin_stars_limit: 5
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Starred topics

      # Display starred topics (as labels)
      - name: Topics plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.topics.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_topics: yes
          plugin_topics_limit: 15
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # Repositories traffic

      # Display number of repositories views (this is part of base content "repositories" section, so you need to enable it)
      # Note that a "repo" scope is required
      - name: Traffic plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.traffic.svg
          token: ${{ secrets.GH_TOKEN }}
          base: repositories
          plugin_traffic: yes
          plugins_errors_fatal: no
          output_action: commit


      # ======================================================================================
      # WakaTime plugin

      # Display your wakatime metrics
      - name: WakaTime plugin
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.wakatime.svg
          token: NOT_NEEDED
          plugin_wakatime: yes
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          use_mocked_data: yes
          plugins_errors_fatal: no
          output_action: commit


      # Illustrate header hidden features with debug flags
      # "--cakeday" will act as if it's your account birthday
      # "--hireable" will act as if "Available for hire" is enabled
      # "--halloween" will act as if it was halloween, changing the colors of calendars
      - name: Header (hidden features)
        if: ${{ success() || failure() }}
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.header.svg
          token: ${{ secrets.GH_TOKEN }}
          base: header
          debug_flags: --cakeday --hireable --halloween
          output_action: commit



      - name: Comment reactions
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.reactions.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_reactions: yes
          plugin_reactions_limit: 100
          plugin_reactions_details: percentage



      - name: GitHub Sponsorships
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.sponsorships.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_sponsorships: yes



      - name: Full history calendar
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.calendar.full.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_calendar: yes
          plugin_calendar_limit: 0



      - name: Indepth analysis
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.notable.indepth.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes



      - name: Code snippet of the day
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.code.svg
          token: ${{ secrets.GH_TOKEN }}
          base: ""
          plugin_code: yes
          plugin_code_languages: python, c++, javascript, c, bash
          plugin_code_visibility: public
          plugin_code_load: 500

      - name: Recently played games
        uses: danglingptr0x0/metrics@master
        with:
          filename: metrics.plugin.steam.svg
          token: NOT_NEEDED
          base: ""
          plugin_steam_token: ${{ secrets.STEAM_API_KEY }}
          plugin_steam: yes
          plugin_steam_user: ${{ secrets.STEAM_ID }}
          plugin_steam_sections: recently-played, most-played
          plugin_steam_achievements_limit: 0
